.newsWrapperB{

}
.newsItemWrapperB{
    display:flex;
    background-color:var(--backgroundColorMain);
    padding:var(--spaceSmall);
    flex-direction:row;
    justify-content:start;
}
.newsImageB{
    height:200px;
    width:200px;
    margin-right:var(--spaceStandard)
}
.newsDetailsWrapperB{

}
.newsTitleB{
    font-size:var(--fontMl);
}
.newsDateB{
    font-size:var(--fontSM);
}
.newsContentB{
    font-size:var(--fontM);
}