.listWrapperM{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}

.discWrapperM{
    display:block;
    flex-direction:column!important;
    justify-content:space-between;
    margin-top:40px; {/*change because wtf*/}
    max-width:800px;
}

.coverArtM,.albumDetailsWrapperM{
    width:100%;
}
.coverArtM{
    aspect-ratio:1!important;
}

.albumTitleM{
    margin-top:var(--spaceStandard);
    text-align:center;
    font-size:var(--fontL);
    font-weight:bold;
}
.albumDateM{
    text-align:center;
    font-size:var(--fontML);
    font-weight:var(--boldy);
}
.songLiM{
    margin:var(--spaceSmall);
    font-size:var(--fontM);
}
.albumCreditsM{
    margin-top:var(--spaceBig);
    font-size:var(--fontM);
    text-align:center;
}