.listWrapperM{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}

.discWrapperM{
    display:block;
    flex-direction:column!important;
    justify-content:space-between;
    margin-top:40px;
    max-width:800px;
}

.coverArtM,.albumDetailsWrapperM{
    width:100%;
}
.coverArtM{
    aspect-ratio:1!important;
}

.albumTitleM{
    margin-top:10px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
}
.albumDateM{
    text-align:center;
    font-size:24px;
    font-weight:500;
}
.songLiM{
    margin:5px;
    font-size:22px;
}
.albumCreditsM{
    margin-top:20px;
    font-size:20px;
    text-align:center;
}