.concertRow{
    display:flex;
    flex-direction:row;
    min-height:100px;
    vertical-align:middle;
    border-bottom:1px solid var(--backgroundColorLight);
    justify-content:space-between;
    align-items:center;
    min-width:60vw;
    border-collapse:collapse;
    padding:var(--spaceStandard);
    cursor:pointer;
    transition:transform 0.2s;
}

.concertRow:first-of-type{
    border-top:1px solid var(--backgroundColorLight);
}

.distanceDaysCell{
    font-size:var(--fontM);
    max-width:80px !important;
    white-space:nowrap;
}

.dayTooltip{
    font-size:var(--fontM) !important;
}

td{
    width:100%;
    height:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    flex-wrap:nowrap;
}

.concertRow:last-of-type{
    border-bottom:1px solid var(--backgroundColorLight);
}

.concertRow:hover{
    transform:scale(1.03);
    background-color:var(--backgroundColorLighterTransparent);

    .concertName, .concertLocation{
        font-weight:600;
    }

    .concertName{
        font-size:var(--fontM);
    }
}

.concertDate{
    min-width:140px;
    min-height:100px;
    border:solid 1px white;
    border-radius:var(--roundedCorners);
    text-align:center;
    display:flex !important;
    flex-direction:column;
    padding:0;
    justify-content:space-evenly;
}

.fi:before{
    content:none !important;
}

.concertMonth, .concertDay, .concertYear{
    color:#000;
    text-shadow:-1px -1px 0 var(--textColorMain), 1px -1px 0 var(--textColorMain),
    -1px 1px 0 var(--textColorMain), 1px 1px 0 var(--textColorMain);
}

.concertMonth, .concertYear, .concertDay{
    padding-bottom:var(--spaceSmall);
    font-size:var(--fontML);
    color:black;
    text-shadow:-1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 1px 1px 0 white;
}

.concertDay{
    font-size:var(--fontL) !important;
}

.concertName{
    font-size:var(--fontSM);
    text-transform:uppercase;
    text-overflow:ellipsis;
}

.concertLocation{
    text-transform:uppercase;
}

.ticketsButton{
    width:140px;
    height:40px;
    background-color:var(--mantikoraRed);
    color:var(--textColorMain);
    font-size:var(--fontM);
    border:0;
    border-radius:var(--roundedCornersSmall);
}

