.concertRow{
    display:flex;
    flex-direction:row;
    min-height:100px;
    vertical-align:middle;
    border-bottom:1px solid white;
    border-top:1px solid white;
    justify-content:space-between;
    align-items:center;
    min-width:60vw;
    border-collapse:collapse;
    padding:var(--spaceStandard);
}

.concertRow:first-of-type{
    border-top:2px solid white;
}

.concertRow:last-of-type{
    border-bottom:2px solid white;
}


.concertDate{
    min-width:140px;
    min-height:100px;
    border:solid 1px white;
    border-radius:var(--roundedCorners);
    text-align:center;
    display:flex !important;
    flex-direction:column;
    padding:0;
    justify-content:space-evenly;
}

.fi:before {
    content:none !important;
}

.concertMonth,.concertDay,.concertYear{
    color:#000;
    text-shadow: -1px -1px 0 var(--textColorMain), 1px -1px 0 var(--textColorMain),
    -1px 1px 0 var(--textColorMain), 1px 1px 0 var(--textColorMain);
}

.concertMonth, .concertYear, .concertDay{
    padding-bottom:var(--spaceSmall);
    font-size:var(--fontMl);
    color:black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 1px 1px 0 white;
}

.concertDay{
    font-size:var(--fontL) !important;
}


.concertName{
    text-transform:uppercase;
    text-align:center;
    text-overflow:ellipsis;
    width:30%;
}

.concertLocation{
    text-transform:uppercase;
    text-align:center;
    width:auto;
}

.ticketsButton{
    width:140px;
    height:40px;
    background-color:var(--mantikoraRed);
    color:var(--textColorMain);
    font-size:var(--fontM);
    border:0;
    border-radius:var(--roundedCornersSmall);
}

