.newsWrapperS{

}
.newsItemWrapperS{
    max-width:300px;
    display:flex;
    background-color:var(--backgroundColorMain);
    padding:var(--spaceSmall);
    flex-direction:column;
    justify-content:start;
}
.newsImageS{
    width:200px;
    aspect-ratio:1;
    margin-bottom:var(--spaceStandard);
}
.newsDetailsWrapperS{

}
.newsTitleS{
    font-size:var(--fontMl);
    font-weight:var(--boldy);
}
.newsDateS{
    font-size:var(--fontSM);
    margin-bottom:var(--spaceBig);
}
.newsContentS{
    font-size:var(--fontS);
}