.concertItemM{
    min-height:100px;
    width:80vw;
    padding:var(--spaceStandard);
}
.concertRowM{
    display:flex;

}
.concertLeftM{
    width:var(--half);
}

.concertDateM{

}

.concertDateTextM{
    font-size:var(--fontM);
}
.concertNameM{
    text-transform:capitalize;
    color:var(--textColorInactive);
}
.concertLocationM{
    text-transform:uppercase;
    text-align:center;
}

.ticketsButtonM{
    width:100%;
    height:60px;
    background-color:var(--mantikoraRed);
    color:var(--textColorMain);
    font-size:var(--fontM);
    border:0;
    border-radius:var(--roundedCornersSmall);
}