.wrapper{
    display:flex;
    justify-content:center;
    height:6.5vh;
    min-width:100%;
    background-color:var(--backgroundColorLighter);
    align-items:center;
    color:var(--textColorMain);
}

.navbar{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding-top:var(--spaceStandard);
    padding-bottom:var(--spaceBig);
    height:8vh;
    align-items:center;
}

.navbarItem{
    margin:var(--spaceStandard);
    /*padding:10px;*/
    /*background-color:#282c34;*/
}
.navbarItem:hover{
    text-decoration:underline;
}

.navbarItem > .a{
    font-family: var(--fontFamilyStandard), serif;
    text-transform:uppercase;
    font-weight:var(--boldy);
    font-size:var(--fontXL);
    text-decoration:none;
    color:var(--textColorMain);
}


