.timelineItemDetails{
    font-size:var(--fontM);
    width:var(--half);
    margin:0;
}

.timelineImage{
    max-width:var(--half);
    aspect-ratio:initial !important;
    border-radius:var(--roundedCornersSmall);
    margin:var(--spaceSmall);
}

@media only screen and (min-width:900px){
    .vertical-timeline-element-icon{
        height:40px !important;
        width:40px !important;
        margin-left:-20px !important;
        margin-top:var(--spaceStandard) !important;
    }

    .vertical-timeline-element-content{
        width:46% !important;
        border-radius:8px 8px 2px 2px !important;
    }
}
