.lyricsTitleRow{
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
}
.lyricsClose{
    height:30px;
    width:30px;
}



.songLyricsHeader{
    font-size:28px;
    margin:5px;
    color:#a92a2a;
}

.anchor{
    display:block;
    position:relative;
    top:-180px;
    visibility:hidden;
}

.songLyrics{
    font-size:18px;
    width:auto;
    text-align:center;
    white-space: pre-line;
}

.songLyricsCredits{

}
.lyricsItemWrapper{
    margin:10px 0;
}