.listWrapper{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}
.discWrapperLeft,.discWrapperRight{
    display:flex;
    justify-content:space-between;
    margin-top:40px; {/*change because wtf*/}
    max-width:800px;
}
.discWrapperLeft{
    flex-direction:row;
}
.discWrapperRight{
    flex-direction:row-reverse;
}

.coverArt,.albumDetailsWrapper{
    width:var(--half);
}
.coverArt{
    aspect-ratio:1!important;
}

.albumTitle{
    text-align:center;
    font-size:var(--fontL);
    font-weight:bold;
}
.albumDate{
    text-align:center;
    font-size:var(--fontMl);
    font-weight:var(--boldy);
}
.songLi{
    margin:var(--spaceSmall);
    font-size:var(--fontMl);
}
.albumCredits{
    margin-top:var(--spaceBig);
    font-size:var(--fontM);
    text-align:center;
}