html, body{
    margin:0 auto;
    box-sizing:border-box;
    background-color:#181b1c;
    color:azure;
}
*{
    margin:0;
}
.page{
    min-height:88vh;
}

/*overflow:visible;*/
.stickyTop{
    position:sticky;
    top:0; /*do not delete*/
    z-index:5000;
}

.pageTitle{
    text-align:center;
    font-size:44px;
    margin-bottom:15px;
    margin-top:6px;
    padding-top:14px;
}
a{
    text-decoration:none;
    color:azure;
}
p{
    font-size:22px;
}



#contactSubHeader{
    font-size:24px;
    text-align:center;
}

.socialsWrapper{
    margin:20px;
}
#socialEntitiesWrapper{
    max-width:70vw;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
#socialEntitiesWrapperWrapper{
    display:flex;
    justify-content:center;
}



#lyricsPage{
    text-align:center;
    overflow:visible;
}

#songList{
    list-style-type:none;
    /*margin-left:20px;*/
}


#songList li{
    font-weight:500;
    text-align:start;
    font-size:26px;
    margin-bottom:10px;
}

.concertItemsWrapper{
    width:100%;
    align-items:center;
    display:flex;
    flex-direction:column;
}
#smallNewsWrapper{
    display:flex;
}

#songListAside{
    top:0;
    position:sticky;
    align-self:flex-start;
    height:100vh;
    width:20%;
    z-index:5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lyricsContainer{
    width:60%;
    text-align:center;
}

#lyricsPageIn{
    display:flex;
    filter:grayscale(0%);
    min-height:1000px;
    align-items:flex-start;
}

#lyricsImageBG{
    background-image:url("../public/bg3.png");
    background-size:100% auto;
    background-position:top;
}

@media screen and (max-width:1100px){
    #songListAside{
        visibility:hidden;
        width:0;
    }
    #lyricsContainer{
        width:100%;
    }
    #songList{
        margin:0;
    }

}

#messageNoConcertDates{
    font-size:28px;
    margin:20px;
    text-transform:uppercase;
}

