html, body{
    margin:0 auto;
    box-sizing:border-box;
    background-color:#181b1c;
    color:azure;
}
*{
    margin:0;
}

.pageTitle{
    text-align:center;
    font-size:44px;
    margin:15px;
}
a{
    text-decoration:none;
    color:azure;
}
p{
    font-size:22px;
}



#contactSubHeader{
    font-size:24px;
    text-align:center;
}

.socialsWrapper{
    margin:20px;
}
#socialEntitiesWrapper{
    max-width:70vw;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
#socialEntitiesWrapperWrapper{
    display:flex;
    justify-content:center;
}



#lyricsPage{
    text-align:center;
    overflow:auto;
}
#songListAside{
    position:fixed;
}
#songList{
    list-style-type:none;
}
#songList li{
    text-align:start;
    font-size:22px;
    margin-bottom:10px;
}

.concertItemsWrapper{
    width:100%;
    align-items:center;
    display:flex;
    flex-direction:column;
}
#smallNewsWrapper{
    display:flex;
}